# Python
__pycache__/
*.pyc
.venv/

# Database
app/instance/*.db

# Environment variables (สำคัญมาก!)
.env

# macOS
.DS_Store

# Uploads
app/static/uploads/**/*.jpg
app/static/uploads/**/*.jpeg
app/static/uploads/**/*.png
app/static/uploads/**/*.gif
app/static/uploads/**/*.webp